@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Startseite</h1>
    <br>
    <form action="/Home/DatenEingabe" method="get">
        <button type="submit">Persönliche Daten</button>
    </form>
    <br>
	<textbox name="Ausgabe">Ausgabe:</textbox>
</body>
</html>