@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Startseite</h1>
    <button a href="/Home/DatenEingabe" action="/Home/DatenEingabe">
        Zum Formular
    </button>
</body>
</html>